:root {
    --bg: #ffffff;
    --fg: #000000;
    --link: #e5383b;
    --alink: #b1a7a6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #0f0f0f;
        --fg: #ffffff;
    }
}

::selection {
    background: var(--fg);
    color: var(--bg);
}

* {
    scrollbar-color: var(--fg) var(--bg);
    transition: 0.1s ease;
}

*::-webkit-scrollbar-track {
    background: var(--bg);
}

*::-webkit-scrollbar-thumb {
    background: var(--fg);
}

a, summary {
    text-decoration: none;
    color: var(--link);
}

a:hover, summary:hover {
    color: var(--alink);
}

body {
    margin: 0px auto;
    padding: 8px 32px 32px 32px;
    font-family: 'Georgia', serif;
    font-size: 1.25em;
    line-height: 1.4;
}

body, img {
    max-width: 1024px;
}

html, body {
    background-color: var(--bg);
    color: var(--fg);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    width: 100%;
}

ul, details > summary {
    list-style-type: square;
}

blockquote {
    margin-left: 1em;
}

ul {
    padding-left: 1em;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--fg);
}

.avatar-image {
    width: 115px;
    height: 115px;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 1em;
    }
}